*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083B4C;
}

.boxes_container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: calc(100% / 10);
    aspect-ratio: 1 / 1;
    border: 3px solid #083B4C;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1389B2;
}

.bg-green {
    background-color: #0AD6A1;
}

.bg-red {
    background-color: #F0466F;
}

.bg-yellow {
    background-color: #FFD166;
}
